* {
    margin: 0;
  }
  body {
    background-color: rgb(11, 19, 32);
    font-family: "Righteous", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  .container {
    /* margin-top: 10px; */
    width: 380px;
    /* height: 625px; */
    /* background: rgb(81, 27, 88); */
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
  h1 {
    margin-top: 150px;
    color: rgb(233, 182, 44);
    margin-bottom: 20px;
    font-weight: 100;
  }
  button {
    border: none;
    color: aquamarine;
    background-color: rgb(40 91 110);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 480ms;
  }
  .reset:hover {
    background-color: rgba(33, 70, 105, 0.918);
  }
  .box {
    height: 80px;
    width: 80px;
    display: flex;
    float: right;
    border-bottom: 2px solid rgb(45, 111, 150);
    border-right: 2px solid rgb(45, 111, 150);
    cursor: pointer;
  }
  .box:hover {
    background-color: rgb(95 32 104 / 42%);
  }
  #gameboard {
    box-sizing: border-box;
    width: 260px;
    margin-left: 50.5px;
    
  }
  .box:nth-last-child(3n) {
    border-right: none;
  }
  .box:nth-last-child(1) {
    border-bottom: none;
  }
  .box:nth-last-child(2) {
    border-bottom: none;
  }
  .box:nth-last-child(3) {
    border-bottom: none;
  }
  .reset:active {
    transform: translateY(3px);
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 81, 0);
  }
  .win {
    color: #4BB3FD;
    animation: shake 0.3s;
    animation-iteration-count: 3;
  }
  
  .draw {
    color: #FF312E;
    animation: shake 0.3s;
    animation-iteration-count: 6;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  






.button-box {
	width: 262px;
        height: 35px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: #1d2c44;
}

.toggle-btn {
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
    
}

#btn {
    /* display: none; */
	left: 0;
	top: 0;
	position: absolute;
	width: 131px;
	height: 100%;
	background: #e67e22;
	border-radius: 30px;
	transition: .8s;
}

.toggle-btn:hover{
    background: transparent;
}
